.navigator {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
  box-shadow: .5px .5px .5px .5px lightgray;

  background-color: white;
  z-index: 1;
}


.nav-home-container{
  display: flex;
  border-right: 2px solid lightgray;
  height: 50px;
  width: 200px;
  align-items: center;
  justify-content: center;
  
}
.nav-home-container:hover {
  background-color: lightgray;
  
}
.home-logo, 
.home-logo:link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  margin-left: 100px;
  width:200px ;
}
/* .home-logo:hover {
  background-color: lightgray;
} */
.logo-n {
  /* text-decoration: none; */
  /* font-family: 'Indie Flower'; */
  /* font-size: 60px; */
  height: 50px;
  /* color: red */
}
.noms {
  font-family: 'Kanit';
  font-size: 16px;
  color: rgb(43, 7, 7);
  /* margin-bottom: 20px;  */
  position: absolute;
  margin-left: 43px;
  font-weight: 800px;
  padding: 0;
  /* border-bottom: 4px solid black */
  /* background-color: black; */
}




.right-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 25%;
  margin-right: 2%;
  height: 50px;
  align-items: center;
  font-weight: bold;
  font-size: small;



}
.nav-signuplogin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}