.navigator {
  padding: 0px;
  display: flex;
  justify-content: space-between;
  /* border: 2px solid red; */
  height: 50px;
  align-items: center;
  position: fixed;
  width: 100%;
  border-bottom: 1px solid gray;
  background-color: white;
  z-index: 1;
}


.nav-home-container{
  display: flex;
  border-right: 2px solid lightgray;
  height: 50px;
  width: 11.75%;
  align-items: center;
  justify-content: center;
  
}
.home-logo, 
.home-logo:hover,
.home-logo:focus,
.home-logo:active
.home-logo:link{
  display: flex;
  align-items: baseline;
  text-decoration: none;
  color: black;
}
.logo-n {
  /* text-decoration: none; */
  font-family: 'Indie Flower';
  font-size: 50px;
}
.noms {
  font-family: 'Kanit';
  font-size: 16px;
}




.right-buttons {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 25%;
  margin-right: 2%;
  height: 50px;
  align-items: center;
  font-weight: bold;
  font-size: small;



}
.nav-signuplogin-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  
}