#note-container {
  display: flex;
  flex-direction: row;
  /* border: 1px solid red; */
  max-width: 665px;
  margin-top: 15px;
  padding: 20px;
  border-bottom: 1px solid lightgray;
  background-color: white;
}
#note-user-info{
  /* border: 1px solid red; */
  width: 25%;
  margin-bottom: 25px;

}
#note-username {
  /* border: 1px solid red; */
  font-weight: bold;


}
#note-time-info {
  /* border: 1px solid red; */
  color: gray;
  font-size: 13px;
}

#note-body {
  word-wrap: break-word;
  /* border: 1px solid blue; */
  width: 75%;
}

#note-order-maybe {
  display: flex;
  flex-direction: column-reverse;
}